<div class="subpage nav-compact">

    <!-- TOP NAV -->
    <header>
        <div class="content">
            <div class="back-arrow">
                <a routerLink="/attestations">
                    <span class="fas fa-chevron-left"></span>
                </a>
            </div>
            <div class="page-title">
                Message
            </div>
            <div class="burger-menu" (click)="globals.menuOpen = true">
                <span class="fas fa-bars"></span>
            </div>
        </div>

        <div class="background"></div>
    </header>
    <div class="after-header"> </div>

    <!-- CONTENT -->
    <main class="text-center">
        <p>{{ message }}</p>
        <button (click)="done()" class="btn primary" type="submit">OK</button>
    </main>

</div>