<div class="subpage nav-compact">

    <!-- COMPACT TOP NAV -->
    <header>
        <div class="content">
            <div class="back-arrow">
                <a routerLink="/attestations">
                    <span class="fas fa-times"></span>
                </a>
            </div>
            <div class="page-title">
                Request Credential
            </div>
            <div class="burger-menu" (click)="globals.menuOpen = true">
                <span class="fas fa-bars"></span>
            </div>
        </div>

        <div class="background"></div>
    </header>

    <div class="after-header"> </div>

    <main class="text-center" *ngIf="request && provider">
        <h1>Step 2: Save New Credentials</h1>
        <p>
            {{ provider.title[lang] }} offers you the following credentials:
        </p>
        <div class="card-item" *ngFor="let attribute of attributes">
            <div class="row">
                <div class="logo-box">
                    <img src="{{ provider.logo_url }}" />
                </div>
                <div class="text-box">
                    <div class="primary">{{ attribute.title[lang] }} </div>
                    <div class="secondary">{{ provider.title[lang] }} </div>
                </div>
                <div class="tool">
                </div>
            </div>
            <div class="credential-details">
                <div class="row">
                    <div class="text">
                        <div class="primary">{{ attribute.title[lang] }} </div>
                        <div class="secondary">{{ attribute.value }} </div>
                    </div>
                </div>
            </div>
            <!-- <div class="credential-meta">
                <table>
                    <tr>
                        <td>Signed by</td>
                        <td>Kamer van Koophandel</td>
                    </tr>
                    <tr>
                        <td>Created at</td>
                        <td>2018-09-01 13:20:00 CET</td>
                    </tr>
                    <tr>
                        <td>Valid until</td>
                        <td>2020-09-01 13:20:00 CET</td>
                    </tr>
                </table>
            </div> -->
        </div>
        <p>Do you wish to save these credentials?</p>
        <button (click)="confirmRequest()" class="btn primary" [disabled]="loading">Save these credentials</button>
        <button (click)="denyRequest()" class="btn secondary" [disabled]="loading">Do not save</button>
    </main>
    <div *ngIf="loading" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

</div>