<div class="row text-center">
    <h4>Please let the verifying party scan the QR code</h4>
    <div id="qrcode"><qrcode [qrdata]="qrcode" [size]="256" [level]="'M'"></qrcode></div>
</div>

<div class="modal fade" bsModal #allowVerifyModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Incoming verification request</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="allowVerifyModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="allow_verify" class="modal-body">
                Peer {{ allow_verify[0] }} wants to verify your {{ allow_verify[1] }}. Do you want to allow this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="allowVerifyModal.hide()">Ignore</button>
                <button type="button" class="btn btn-success" (click)="accept(allowVerifyModal)">
                    Allow verification <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<br>
