<div>

    <!-- TOP NAV -->
    <header>
        <div class="content">
            <div class="avatar">
                <img src="./assets/images/user-colored.svg" alt="">
            </div>
            <div class="text">
                <div class="primary">Tim Speelman</div>
                <div class="secondary">Self-Sovereign Identity</div>
            </div>
            <div class="burger-menu" (click)="globals.menuOpen = true">
                <span class="fas fa-bars"></span>
            </div>
        </div>

        <div class="background"></div>
    </header>
    <div class="after-header"> </div>

    <!-- CONTENT -->
    <main>
        <h1>Credentials</h1>
        <a class="card-item clickable" [routerLink]="[encodeURIComponent(attr.hash)]" *ngFor="let attr of attestedAttributes; trackBy: trackByConnID">
            <div class="row">
                <div class="logo-box">
                    <img [src]="[ getProviderLogoUrl(attr.signer_mid_b64) ]" style="width:80%" />
                </div>
                <div class="text-box">
                    <div class="primary">{{ attr.title[lang] }}</div>
                    <div class="secondary">{{ attr.provider_title[lang] }}</div>
                </div>
                <div class="tool">
                    <!-- <div class="clickable" [routerLink]="[encodeURIComponent(attr.hash) + '/qr']">
                    <span class="fas fa-qrcode"></span>
                </div> -->
                </div>
            </div>
        </a>
    </main>

    <div class="bottom-tools">
        <a class="fab-btn primary bottom-center" style="font-size: 3em">
            <img src="./assets/images/qr-scan.svg" alt="" style="width:50%" />
        </a>
        <a class="fab-btn secondary bottom-right" style="font-size: 2em" routerLink="/create">
            <span class="fas fa-plus"></span>
        </a>
    </div>

</div>