<div class="{{ globals.menuOpen ? 'side-menu-open' : '' }}">
    <!-- SIDE MENU -->
    <div class="side-menu-close" (click)="globals.menuOpen = false">
        <span class="fas fa-times"></span>
    </div>
    <div class="side-menu-backdrop" (click)="globals.menuOpen = false"></div>
    <div class="side-menu">
        <ul>
            <li>
                <a routerLink="/attestations" [routerLinkActive]="['active']" (click)="globals.menuOpen = false">
                    <span class="fas fa-id-card"></span>
                    <span>Credentials</span>
                </a>
            </li>
            <li>
                <a routerLink="/contacts" [routerLinkActive]="['active']" (click)="globals.menuOpen = false">
                    <span class="fas fa-users"></span>
                    <span>Contacts</span>
                </a>
            </li>
            <li>
                <a class="disabled">
                    <span class="fas fa-info-circle"></span>
                    <span>About</span>
                </a>
            </li>
            <li>
                <a class="disabled">
                    <span class="fas fa-cog"></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>